<!-- views/404.handlebars -->
<div class="container mt-5 text-center">
  <h1 class="display-4">404 - Página No Encontrada</h1>
  <p class="lead">La página que estás buscando no existe, anda pal Home bobo.</p>
  <a href="/home" class="btn btn-primary">Volver al Home compa</a>
</div>